.meetVideoContainer {
  position: relative;
  height: 100vh;
  background: rgb(1, 4, 48);
}

.meetUserVideo {
  position: absolute;
  bottom: 11vh;
  height: 22vh;
  width: auto;
  left: 20px;
  border-radius: 20px;
}

.buttonContainers {
  position: absolute;
  width: 100vw;
  bottom: 0;
  text-align: center;
}

.buttonContainers svg {
  font-size: 3rem;
}

.conferenceView {

  display: flex;

  padding: 10px;
  gap: 10px;
}

.conferenceView video {
  width: fit-content;
  height: 30vh;
  margin-left: 13px;
  min-height: 20vh;
  min-width: 25vw;
  border-radius: 15px;
}
.chatRoom {
  margin-top: 20px;
  position: absolute;
  height: 90vh;
  right: 0;
  background: white;
  border-radius: 10px;
  width: 30vw;
  padding-inline: 20px;
  overflow-y: auto; /* Enable scrolling when content overflows */
}

.chatContainer {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Custom scrollbar styling for the chatRoom */
.chatRoom::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.chatRoom::-webkit-scrollbar-track {
  background: #f0f0f0; /* Track color */
}

.chatRoom::-webkit-scrollbar-thumb {
  background-color: #888; /* Thumb color */
  border-radius: 4px; /* Roundness of the thumb */
}

.chatRoom::-webkit-scrollbar-thumb:hover {
  background: #555; /* Thumb color on hover */
}


.chattingArea {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

/* Media Query for screens with a maximum width of 400px */
@media (max-width: 400px) {
  .meetUserVideo {
    bottom: 5vh;
    height: 15vh;
    width: auto;
    left: 5px;
    border-radius: 10px;
  }
  


  .buttonContainers {
    width: 100vw;
    bottom: 0;
    text-align: center;
  }

  .buttonContainers svg {
    font-size: 2rem;
  }

  .conferenceView {
    flex-direction: column;
    padding: 5px;
    gap: 5px;
  }

  .conferenceView video {
    width: 80vw;
    height: 15vh;
    min-width: 70vw;
    border-radius: 5px;
  }

  .chatRoom {
    position: absolute;
    height: 70vh;
    right: 0;
    background: white;
    border-radius: 5px;
    width: 90vw;
    padding-inline: 10px;
  }

  .chatContainer {
    position: relative;
    height: 100%;
  }

  .chattingArea {
    position: absolute;
    bottom: 0;
  }
}