.landingPageContainer {
  width: 100vw;
  height: 100vh;
  background: url("/public/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.landingPageContainer nav {
  padding-inline: 1.5rem;
  padding-block: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landingPageContainer nav .navHeader h2 {
  font-size: 1.76rem;
  font-weight: 500;
}

.landingPageContainer nav .navlist {
  font-size: 1.18rem;
  display: flex;
  gap: 1.6rem;
  cursor: pointer;
}

.landingMainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 4.5rem;
  height: 80vh;
}

.landingMainContainer .cover {
  font-size: 1.85rem;
}

.landingMainContainer .cover div[role='button'] {
  background-color: #D97500;
  width: fit-content;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 2rem;
}

.landingMainContainer .cover div[role='button'] a {
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
}

.landingMainContainer img {
  height: 66vh;
  width: auto;
}

/* Media query for screens with a width of 950px or less */
@media (max-width: 950px) {
  .landingPageContainer nav {
    padding-inline: 1.2rem;
    padding-block: 1.2rem;
  }

  .landingPageContainer nav .navHeader h2 {
    font-size: 1.5rem;
  }

  .landingPageContainer nav .navlist {
    font-size: 1.1rem;
    gap: 1.4rem;
  }

  .landingMainContainer {
    flex-direction: column;
    align-items: center;
    padding-inline: 2rem;
    height: auto;
    padding-block: 2rem;
  }

  .landingMainContainer .cover {
    font-size: 1.8rem;
  }

  .landingMainContainer .cover div[role='button'] {
    padding: 0.8rem;
    border-radius: 15px;
    margin-top: 1.5rem;
  }

  .landingMainContainer .cover div[role='button'] a {
    font-size: 1.4rem;
  }

  .landingMainContainer img {
    height: 50vh;
    width: auto;
  }
}



.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  text-align: center;

}

.meetContainer {
  display: flex;
  padding-inline: 20px;
  height: 80vh;
  gap: 10vw;
  justify-content: center;
}

.leftPanel {
  height: 100%;
  display: flex;
  align-items: center;

}

.rightPanel {
  display: flex;
  align-items: center;
}

.rightPanel>img {
  width: 30vw;
  height: auto;
  border-radius: 20px;
}


@media (max-width: 450px) {
  .landingPageContainer nav {
    padding-inline: 1rem;
    padding-block: 1rem;
  }

  .landingPageContainer nav .navHeader h2 {
    font-size: 1.4rem;
  }

  .landingPageContainer nav .navlist {
    font-size: 1rem;
    gap: 1rem;
  }

  .landingMainContainer {
    flex-direction: column;
    align-items: flex-start;
    padding-inline: 2rem;
    height: auto;
    padding-block: 2rem;
  }

  .landingMainContainer .cover {
    font-size: 1.5rem;
  }

  .landingMainContainer .cover div[role='button'] {
    padding: 0.8rem;
    border-radius: 15px;
    margin-top: 1.5rem;
  }

  .landingMainContainer .cover div[role='button'] a {
    font-size: 1.3rem;
  }

  .landingMainContainer img {
    height: 40vh;
    width: auto;
    margin-top: 2rem;
  }
}